EMAIL=monemail
PASS=monpwd
MIN_ETH=0.00500000
ETH=addresshere
MIN_TRX=30.00000000
TRX=addresshere
MIN_ADA=5.00000000
ADA=addresshere
MIN_BTC=0.00020000
BTC=addresshere
MIN_LTC=0.01000000
LTC=addresshere
MIN_LINK=0.30000000
LINK=addresshere
MIN_NEO=1.00000000
NEO=addresshere
MIN_BNB=0.05000000
BNB=addresshere
MIN_XRP=5.00000000
XRP=addresshere
MIN_DASH=0.01000000
DASH=addresshere
MIN_USDC=5.00000000
USDC=addresshere
MIN_USDT=5.00000000
USDT=addresshere
MIN_XEM=5.00000000
XEM=addresshere
MIN_STEAM=5.00000000
STEAM=
MIN_DOGE=
DOGE=

